<div class="container">
  <div class="row">
    <div class="col mt-4">
      <div class="dropdown">  
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Page Size
        </button>
        <ul class="dropdown-menu myDropDown" aria-labelledby="dropdownMenuButton">
          <li><%= button_to "1", customers_path("1"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "2", customers_path("2"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "3", customers_path("3"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "4", customers_path("4"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "5", customers_path("5"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "6", customers_path("6"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "7", customers_path("7"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "8", customers_path("8"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "9", customers_path("9"), method: :patch, class: "dropdown-item"%></li>
          <li><%= button_to "10", customers_path("10"), method: :patch, class: "dropdown-item"%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
